<?xml version="1.0"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="NameFix.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<NameFix.Properties.Settings>
   <setting name="Location" serializeAs="String">
    <value>400, 300</value>
   </setting>
   <setting name="ClientSize" serializeAs="String">
    <value>625, 420</value>
   </setting>
   <setting name="Path" serializeAs="String">
    <value />
   </setting>
   <setting name="Extensions" serializeAs="String">
    <value>*.cr2;*.jpg;*.avi;*.mov;*.mpg;*.3gp;*.mp4</value>
   </setting>
   <setting name="Touch" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RecurseSubdirs" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShiftTimeByHours" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RenamePattern" serializeAs="String">
    <value>yyyy-MM-dd HH-mm-ss</value>
   </setting>
   <setting name="PathHistory" serializeAs="String">
    <value />
   </setting>
   <setting name="FormWindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
  </NameFix.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>